.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
.obsidian
# https://vercel.com/guides/how-can-i-use-github-actions-with-vercel
# 使用workflow进行自动部署应该
.vercel
.smtcmp_chat_histories
*.tar.gz
album/
